<div
  class="w-full cursor-pointer px-3 py-4 border border-gray-200 rounded-md hover:shadow-md hover:border-main transition-all duration-200"
>
  <img class="w-full p-4" src="images/laptop.avif" alt="" />
  <span class="text-gray-500 text-sm">Category</span>
  <h2 class="text-lg capitalize mb-2 font-medium">product title</h2>
  <div class="mb-2">
    <i class="fa fa-star text-yellow-400 text-sm"></i>
    <i class="fa fa-star text-yellow-400 text-sm"></i>
    <i class="fa fa-star text-yellow-400 text-sm"></i>
    <i class="fa fa-star text-yellow-400 text-sm"></i>
    <i class="fa fa-star text-yellow-400 text-sm"></i>
    <span class="text-gray-500 text-sm"> 3.2</span>
  </div>
  <div class="flex justify-between items-center">
    <span class="font-medium">500EGP</span>
    <button class="rounded px-3 py-1 bg-main text-white text-sm cursor-pointer font-medium hover:bg-green-600 transition-all duration-200">Add</button>
  </div>
</div>
