<div class="my-16 flex flex-wrap">
    <div class="w-full lg:w-2/4">
        <img class="w:2/4 lg:w-full mx-auto rounded-md h-130 object-contain" src="images/test.jpeg" alt="">
    </div>
    <div class="w-full lg:w-2/4">
        <p class="text-main font-medium mb-5">Category</p>
        <h2 class="font-bold text-4xl mb-4">Napolitanke Ljesnjak</h2>
        <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptatem deleniti vitae debitis
            ipsam necessitatibus! Accusamus cumque dolores est provident facere, repudiandae harum quasi consectetur
            laudantium ipsam. Maiores, delectus doloribus!
            Soluta et minus debitis? Deserunt ratione repellat tempora aspernatur debitis consequatur fugiat omnis
            alias, ut quam quidem sint voluptates neque, error repudiandae nulla tenetur possimus pariatur earum?
            Eveniet, consectetur autem.</p>

        <div class="mb-6">
            <i class="fa fa-star text-yellow-400 text-sm"></i>
            <i class="fa fa-star text-yellow-400 text-sm"></i>
            <i class="fa fa-star text-yellow-400 text-sm"></i>
            <i class="fa fa-star text-yellow-400 text-sm"></i>
            <i class="fa fa-star text-yellow-400 text-sm me-2"></i>
            <span class="text-gray-500 text-sm">33</span>
        </div>
        <p class="font-bold text-2xl mb-4">500EGP</p>

        <button
            class="flex items-center gap-2 bg-main hover:bg-green-600 text-white rounded-md px-10 py-2 transition-all duration-200">
            <img src="images/shopping-bag.svg" alt="Add to cart" class="w-4" />
            <span>Add to cart</span>
        </button>
    </div>
</div>