<div class="my-8 flex flex-wrap items-center">
  <div class="w-full lg:w-2/4 flex flex-col items-center">
    <img
      class="w-full mx-auto rounded-md h-130 object-contain mb-4 transition-all duration-300"
      [src]="selectedImage || product?.imageCover"
      alt="Main image"
    />

    <div class="flex justify-center gap-3 mt-2 flex-wrap">
      @for (slide of product?.images; track $index) {
        <img
          [src]="slide"
          (click)="changeMainImage(slide)"
          [class.border-main]="selectedImage === slide"
          class="w-20 h-20 object-cover rounded-md cursor-pointer border-2 border-transparent hover:border-main transition-all duration-200"
          alt="Thumbnail"
        />
      }
    </div>
  </div>

  <div class="w-full lg:w-2/4 mt-6 lg:mt-0">
    <p class="text-main font-medium mb-5">{{ product?.category?.name }}</p>
    <h2 class="font-bold text-4xl mb-4">{{ product?.title }}</h2>
    <p class="mb-2">{{ product?.description }}</p>

    <div class="mb-6">
      <i class="fa fa-star text-yellow-400 text-sm"></i>
      <i class="fa fa-star text-yellow-400 text-sm"></i>
      <i class="fa fa-star text-yellow-400 text-sm"></i>
      <i class="fa fa-star text-yellow-400 text-sm"></i>
      <i class="fa fa-star text-yellow-400 text-sm me-2"></i>
      <span class="text-gray-500 text-sm">{{ product?.ratingsAverage }}</span>
    </div>

    <p class="font-bold text-2xl mb-4">{{ product?.price }} EGP</p>

    <button
      class="flex items-center gap-2 bg-main hover:bg-green-600 text-white rounded-md px-10 py-2 transition-all duration-200">
      <img src="images/shopping-bag.svg" alt="Add to cart" class="w-4" />
      <span class="font-medium">Add to cart</span>
    </button>
  </div>
</div>
