<div class="mt-15 flex flex-col justify-center">
    <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8 mx-auto">
        <div class="text-center mb-10">
            <h2 class="font-bold text-4xl">Login</h2>
        </div>

        <form (ngSubmit)="handleSubmit()" [formGroup]="loginForm">
            <div class="space-y-6">
                @for (field of fields; track $index) {
                <div class="relative">
                    <label [for]="'floating_' + field.name"
                        class="text-slate-900 text-sm font-medium mb-2 block capitalize">{{ field.label }}</label>

                    <input [class.!border-red-500]="
                       getControl(field.name)?.errors && getControl(field.name)?.touched"
                       [formControlName]="field.name" [name]="'floating_' + field.name" [id]="'floating_' + field.name"
                        [type]="getInputType(field.name)"
                        class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-main"
                        placeholder="Enter {{ field.label.toLowerCase() }}" />

                  

                    <!-- Validation messages -->
                    @if (getControl(field.name)?.touched) {
                    <div class="text-red-600 text-xs mt-1">
                        @switch (field.name) {

                        <!-- Username / Email / Phone -->
                        @default {
                        @if (getControl(field.name)?.hasError('required')) {
                        <p>{{ field.label }} is required.</p>
                        }
                        @if (getControl(field.name)?.hasError('minlength')) {
                        <p>{{ field.label }} must be at least 3 characters long.</p>
                        }
                        @if (getControl(field.name)?.hasError('email')) {
                        <p>Please enter a valid email address.</p>
                        }
                       

                        @if (
                        getControl(field.name)?.hasError('pattern') &&
                        field.name !== 'phone'
                        ) {
                        <p>Invalid {{ field.label.toLowerCase() }} format.</p>
                        }
                        }

                        <!-- Password -->
                        @case ('password') {
                        @if (getControl('password')?.hasError('required')) {
                        <p>Password is required.</p>
                        }
                        }
                        }
                    </div>
                    }
                </div>
                }
            </div>


            @if (errorMsg) {
            <div class="mt-1 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">{{errorMsg}}</span>
            </div>
            }

            <div class="mt-12">
                <button [disabled]="isLoading" type="submit"
                    class="disabled:bg-main/50 w-full py-3 px-4 text-sm tracking-wider font-medium rounded-md text-white bg-main hover:bg-main focus:outline-none cursor-pointer">
                    @if (isLoading) {
                    Loading...
                    }@else {
                    Login
                    }
                </button>
            </div>
            <p class="text-slate-600 text-sm mt-6 text-center">
                Create a new account?
                <a [routerLink]="'/register'" class="text-main font-medium hover:underline ml-1">Register here</a>
            </p>

            <p class="font-medium text-center mt-5">
                <a [routerLink]="'/reset-password'" class="text-slate-600 text-sm mt-6 hover:underline">Forgot Password?</a>
            </p>

        </form>
    </div>
</div>