  <div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>Slide 1</ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  
  </owl-carousel-o>



<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
    @if (isLoading) {
        @for (item of skeletons; track $index) {
            <div class="animate-pulse">
                <div class="h-60  rounded bg-gray-300"></div>
                <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 mt-2 w-20"></div>
                <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 mt-2 w-40"></div>
            </div>
        }
    }@else {
        @for (product of products; track $index) {
        <app-product-card [product]="product"></app-product-card>
        }
    }

</div>

